/* 
	Config color default
*/

$black:#000000;
$white: #ffffff;

$primary-color: $black;
$secondary-color: $white;

/* 
	Config color planet 
*/

$zebes:#E8927C;
$venus: #b45d15;
$earth: #26daaa;
$mars: #e55f45;
$jupiter: orange;
$saturn: #b29d81;
$uranus: #8dcdd8;
$neptune: #4f83e2;
$pluto: #FF8732;

$moon-earth: #f4f4f4;

//$translateY: 0;
//$rotateX: 20deg;
//$scaleOffset: 0.89;

/* 
	Config color default
*/

/* 
	font
*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');
