/* Breakpoint */

$break1: "(max-width:499px)";
$break2: "(min-width:500px) and (max-width:1000px)";
$break3: "(min-width:1001px)";


/* mobile */
@media #{$break1} {

}

/* tablette */
@media #{$break2} {

}

/* desktop */
@media #{$break3} {

}
