@import "reset.scss";

@import "config.scss";
@import "mixin.scss";
@import "functions.scss";

@import "device.scss";




html, body{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

body{
	color:$secondary-color;;
	background:$primary-color;
	background-attachment:fixed;
}

.solar {
    position: relative;
	perspective: 400px;
	perspective-origin: center; 
	display: grid;
	grid-template-columns: repeat(10, [col-start] 10vw);
	grid-template-rows: repeat(10, [col-start] 10vh);

    /*.solar-syst{
		margin: 0 auto;
	    width: 100vw;
	    height: 100vh;
	    position: absolute; 

	  &:after{
	    content:"";
	    position:absolute;
	    height:2px;
	    width:2px;
	    top:-2px;
	    background:white;
	    //box-shadow: stars(500, 1800); // espace avec les etoiles
	    border-radius:100px;
	    z-index: -1;
	  }*/
	  

		/*#mercury {
			@include makePlanet(lighten($mercury, 20%), darken($mercury, 30%), '../images/planet_mercury.jpg');

			border-radius:50%;
			position:absolute;
			bottom:20%;
			left: 30%;

			transform: translateZ(0) translateY($translateY) rotatex($rotateX) scale(.5);
			animation:  60s 3.9s infinite linear;
		}

		#venus {
			@include makePlanet(lighten($venus, 20%), darken($venus, 30%), '../images/planet_venus.jpg');

			position:absolute;
			bottom:-40%;
			left: 33%;
			border-radius:50%;
			animation: planet 60s 3.9s infinite linear;
			transform: translateZ(-200px) translateY($translateY) rotatex($rotateX) scale(0.3);	
		}*/

		a.planet,
		a.moon {
			display: block;
			text-decoration:none;
		

			&#mercury {

				@include makePlanet('../images/planet_mercury.jpg');

				box-shadow: 0 (-300px) 200px black inset, 
				    0 0px 130px 40px darken($mercury, 30%) inset, 
				    0 0px 23px 4px darken($mercury, 30%) inset, 
				    0 -10px 230px lighten($mercury, 10%);

				height: 512px;
				width: 512px;
				animation: planet 150s 3.9s infinite linear; 
				grid-column: col-start 5; 
	  			grid-row: 2;

			}
			
			&#venus {

				@include makePlanet('../images/planet_venus.jpg');
				
				box-shadow: 0 (-200px) 150px black inset, 
				    0 0px 100px 30px darken($venus, 30%) inset, 
				    0 0px 18px 2px darken($venus, 30%) inset, 
				    0 -8px 200px lighten($venus, 20%);

				height: calc(512px * .8);
				width: calc(512px * .8);
				animation: planet 120s 3.9s infinite linear;
				grid-column: col-start 8; 
	  			grid-row: 5;
			}

			&#earth {

				@include makePlanet('../images/planet_earth.jpg');

				box-shadow: 0 (-100px) 50px black inset, 
				    0 0px 65px 20px darken($earth, 20%) inset, 
				    0 0px 11px 2px darken($earth, 20%) inset, 
				    0 -5px 30px lighten($earth, 40%);

				height: calc(512px * .5);
				width: calc(512px * .5);
				animation: planet 90s 3.9s infinite linear;
				grid-column: col-start 2; 
	  			grid-row: 7;
			}

		  	&#moon {

		  		@include makePlanet('../images/moon_earth.jpg');

		  		box-shadow: 0 (-40px) 40px black inset, 
				    0 0px 33px 10px darken($moon-earth, 30%) inset, 
				    0 0px 6px 1px darken($moon-earth, 30%) inset, 
				    0 -3px 66px lighten($moon-earth, 20%);

				height: calc(512px * .2);
				width: calc(512px * .2);
				border-radius: 50%;
				animation: planet 120s 3.9s infinite linear;
				grid-column: col-start 2; 
	  			grid-row: 6;
		  	
			}
		}

		.modal {
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: $primary-color;
			z-index: 99999;
			opacity:0;
			transition: opacity 400ms ease-in;
			pointer-events: none;
			display: grid;
			grid-template-columns: repeat(10, [col-start] 10vw);
			grid-template-rows: repeat(10, [col-start] 10vh);
			min-height: 100vh;
			min-width: 100vw;
			

			.content-right-modal {
				background-color: $secondary-color;
				overflow: scroll;
				padding: 49px 60px 30px 60px;
				grid-column: col-start 9 / end; 
  				grid-row: 1 / 10;
  				height: 100vh;

  				h1 {
  					letter-spacing: 3px;
				    top: 0;
				    padding: 5px 0 5px 0;
				    width: 100%;
				    font-size: 20px;
				    color: $mercury;
				    font-family: 'Montserrat', sans-serif;
				    transition: all 1s 3s;
				    position: sticky;
				    background-color: $secondary-color;
				    z-index: 1;
				    top: -49px;

				    &:after {
				    	width: 30px;
					    height: 2px;
					    background: black;
					    display: block;
					    content: '';
					    margin-bottom: 30px;
					    margin-top: 8px;
				    }
  				}

  				p {
  					color: $primary-color;
  					text-transform: uppercase;
  				}

  				.close {
					letter-spacing: 3px;
					font-family: 'Montserrat', sans-serif;
					font-size: 20px;
					position: absolute;
					top:5px;
					right: 30px;
					text-decoration: none;
					color: red;
				}
			}
			
			.content-left-modal {
				background: url('../images/bg-mountains.png') no-repeat;
				background-color: darken($mercury,50%);
				grid-column: col-start 1 / 9; 
  				grid-row: 1;
  				height: 100vh;
			}

			&:target {
				opacity:1;
				pointer-events: auto;
			}
		}


		@keyframes planet {
			from {
				background-position-x: 0px; 
			}
			to {
				background-position-x: -1024px;
			} 
		}

	    /*@keyframes fadeInFromNone {
		    0% {
		        opacity: 0.5;
		    }

		    50% {
		        opacity: 1;
		    }

		    100% {
		        opacity: 0.5
		    }
		}*/
		
	//}
}
