@import "reset.scss";

@import "config.scss";
@import "mixin.scss";
@import "functions.scss";
@import "modal.scss";
@import "animation.scss";
@import "device.scss";

@import "planet.scss";




html, body{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

body{
	color:$secondary-color;;
	background:$primary-color;
	background-attachment:fixed;
}
